/* Collection Page CSS */


.collection-header {
    background-image: url("../images/GoT_CapstoneProject_image.jpg");
    background-size: cover;
    height: 900px;
    color: white; 
}

.collection-stats {
    color: white; 
}