{% extends 'base.html' %}


{% block content %}


<div class="container log-in-container d-flex justify-content-center align-items-center">
    <div class="log-in row mt-5 p-5 shadow rounded w-75">
        <div class="col d-flex">
            <img src="../../../static/images/GoT_CapstoneProject_image_3.jpg" class='img-fluid rounded' alt="" srcset="">
        </div>
        <div class="col">
            <form action="" class="row log-in-form g-3" method="POST">
                {{ form.hidden_tag() }}
                <h3>Log into your Account!</h3>
                <div class="col-12">
                    {{ form.email.label }}
                    {{ form.email(class='form-control mt-2', placeholder='jsnow@gmail.com' ) }}
                    {% for error in form.email.errors %}
                        <span class="err-msg"> {{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {{ form.password.label }}
                    {{ form.password(class='form-control mt-2', placeholder='password' ) }}
                    {% for error in form.password.errors %}
                        <span class="err-msg"> {{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-12">
                    {{ form.submit(class='btn log-in-button btn-outline-light') }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}